@using Factory.Models

<h1>Machines</h1>

<div class="content_box">
  <div class="statement">
    @if (Model.Count == 0)
    {
      <h3>No machines have been added yet!</h3>
      @Html.ActionLink("Add a machine", "Create", "Machines")
    }
    else
    {
      <ul>
        @foreach (var machine in Model)
        {
          <li>
            @Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId },
                   null)

          </li>
        }
      </ul>
    }
  </div>
</div>
